<div class="top-menu">
  <div class="logo">Web architecture</div>
  <div class="top-menu-item"
       [class.selected]="isSelected('TESTS')"
       (click)="selectSection('TESTS')">Tests</div>
  <div class="top-menu-item"
       [class.selected]="isSelected('REPORTS')"
       (click)="selectSection('REPORTS')"
  >Reports</div>
  <div class="top-menu-item"
       [class.selected]="isSelected('DATA_TEMPLATE')"
       (click)="selectSection('DATA_TEMPLATE')">Data templates</div>
</div>
<div class="middle-content">
  <app-tests *ngIf="isSelected('TESTS')"></app-tests>
  <app-data-templates *ngIf="isSelected('DATA_TEMPLATE')"></app-data-templates>
  <app-reports *ngIf="isSelected('REPORTS')"></app-reports>
</div>


