<h3>Data templates</h3>
<div class="command-panel">
  <button class="command-panel-button" (click)="create()">Create</button>
</div>
<div>
  <table class="data-source">
    <thead>
      <tr>
        <th>№</th>
        <th>Author</th>
        <th>Name</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
    <tr class="data-source-row" *ngFor="let item of getTemplates(); let i = index" (dblclick)="update(item)">
      <td>{{i+1}}</td>
      <td class="template-author-name">
        <div class="data-source-row">{{item.author === null ? '' : item.author.name}}</div>
      </td>
      <td class="template-name"><div class="data-source-row">{{item.name}}</div></td>
      <td class="template-text"><div class="data-source-row">{{item.text}}</div></td>
      <!--<td><a (click)="update(item)">change</a></td>-->
    </tr>
    </tbody>
  </table>
</div>

<app-modal-dialog id="data-template">
  <app-data-template [editTemplate]="editTemplate" [authorId]="editAuthorId"></app-data-template>
</app-modal-dialog>
