<h3>Data template</h3>
<div>
  <label>Author
    <select [(ngModel)]="authorId">
      <option value="new">new</option>
      <option *ngFor="let item of getAuthors()" value="{{item.id}}">{{item.name}}</option>
    </select>
  </label>
  <input *ngIf="authorId==='new'" type="text" [(ngModel)]="authorName">
</div>
<div>
  <label>Name<input type="text" [(ngModel)]="editTemplate.name"></label>
</div>
<div>
  <textarea [(ngModel)]="editTemplate.text"></textarea>
</div>
<div>
  <button (click)="closeModal(false)">Discard</button>
  <button (click)="closeModal(true)">Save</button>
</div>
