<div class="middle-content-margin">
    <h2 id="introduction">About</h2>
    <p>Web-architecture is application that allows to investigate and analyze behavior of different DBMS in different conditions. As example, you can compare spent time to create/delete some entity in SQL and NoSQL databases. 
        Also you can investigate how database performance depends to volume of data.</p>
    <p>The application allows to investigate two DBMS: </p>
        <ul>
            <li>Postgresql - one of most popular DBMS based on SQL tehnologies.</li>
            <li>MongoDB - one of most popular DBMS based on NoSQL tehnologies.</li>
        </ul>
    <p>This list can be extended easily.</p>
    <p>The main functionality of the application is start the test and check reports.</p>
    <h2 id="data-templates">Data templates</h2>
    <p>The application fills up databases by data templates during the test. 
        Data templates should be filled before start the test. 
        User can see and manage it on &quot;Data templtes&quot; tab. 
        Template structure:  </p>
        <ol>
            <li>&quot;Author&quot; entity has &quot;name&quot; property only   </li>
            <li>&quot;Data template&quot; is a product of the author, has properties: 
                <ul>
                    <li>author - link to &quot;Author&quot; entity</li>
                    <li>name</li>
                    <li>text - minimum length of text is 200 characters.</li>
                </ul>
            </li>
        </ol>
        
    <h2 id="test">Test</h2>
    <p>User can start test in the &quot;Tests&quot; tab. The duration of tests is 1 minute.
         Client (web-browser) sends http requests to REST API of the server every 300 ms with template id. 
         One request includes following actions on server side: </p>
         <ul>
             <li>Create 3 copy of template in data collection. </li>
             <li>Update some random item from data collection. </li>
             <li>Delete some random item from data collection. </li>
             <li>Search items in data collection by indexed field. </li>
             <li>Search items in data collection by part of long text.</li>
             <li>Retrieve full item data with related entities and collections.</li> 
         </ul>
    <p>This actions is executed for all supported DBMS (currently is Postgresql and MongoDB) and measured what time server spend for each action. 
        All measurements is saved in the test. Data base volume is fixed on each test starting. 
        Only one test can be started simultaneously. Test is stoped automatically in one minute after starting. 
        But the user can forcibly cancel this.</p>
    <h2 id="reports">Reports</h2>
    <p>User can investigate the statistics by completed tests using table data or charts.</p>
    <h4 id="tests-list">Tests list</h4>
    <p>User can see detailed data about any completed test. Descriptions of the table columns:</p>
    <ul>
        <li>Created - test creation and start date</li>
        <li>Requests - requests count that was executed successfully</li>
        <li>Duration - test duration in seconds</li>
        <li>Database volume - records count of main collection of the database on the test starting (separate columns for each databases)</li>
        <li>Measurements - average time in milliseconds which server spended to execute some action, as example create, delete object, search, retrieve full data by object id.</li>
    </ul>
    <h4 id="charts">Charts</h4>
    <p>Charts allows visually analyze statistics by tests. There are separate charts for each measured action. Axis X is databases volume, axis Y is average time in milliseconds that server spended to execute the action.</p>

</div>
