<h3>Backends ({{getBackends().length}})</h3>
<div class="command-panel">
  <button class="command-panel-button" (click)="createServer()">Create</button>
  <button [disabled]="isSelectedStartedBackend()" class="command-panel-button" (click)="startServer()">Start</button>
  <button [disabled]="isSelectedStoppedBackend()" class="command-panel-button" (click)="stopServer()">Stop</button>
  <button [disabled]="isSelectedStartedBackend()" class="command-panel-button" (click)="removeServer()">Remove</button>
</div>
<div class="nodes">
  <app-java-server
    *ngFor="let iterBackend of getBackends()"
    [backendModel]="iterBackend"
  >
  </app-java-server>

  <!--
(selectEvent)="onSelectJavaServer($event)"
(deselectEvent)="onDeselectJavaServer($event)"
-->
</div>
