<h3>Data templates</h3>
<div class="command-panel">
  <button class="command-panel-button" (click)="create()">Create</button>
  <button class="command-panel-button" (click)="update()">Update</button>
</div>
<div>
  <table class="data-source">
    <thead>
      <tr>
        <th>№</th>
        <th>Author</th>
        <th>Name</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getTemplates(); let i = index">
      <td>{{i+1}}</td>
      <td>{{item.author.name}}</td>
      <td>{{item.name}}</td>
      <td>{{item.text}}</td>
    </tr>
    </tbody>

  </table>

</div>

<app-modal-dialog id="data-template">
  <h3>Data template</h3>
  <div>
    <label>Author
      <select [(ngModel)]="editTemplate.author">
        <option *ngFor="let item of getAuthors()">{{item}}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Name<input type="text" [(ngModel)]="editTemplate.name"></label>
  </div>
  <div>
    <label>Text<input type="text" [(ngModel)]="editTemplate.text"></label>
  </div>
  <div>
    <button (click)="closeModal(false)">Discard</button>
    <button (click)="closeModal(true)">Save</button>
  </div>
</app-modal-dialog>
