<!--<ng-template #dataTemplateDialog let-modal>-->
  <div class="modal-header">
    <h4 class="modal-title" >Data template</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="form-group form-inline">
      <label>Author
        <select class="form-control ml-2" [(ngModel)]="authorId">
          <option value="new">new</option>
          <option *ngFor="let item of getAuthors()" value="{{item.id}}">{{item.name}}</option>
        </select>
      </label>
      <input class="form-control ml-2" *ngIf="authorId===AUTHOR_ID_NEW" type="text" [(ngModel)]="authorName">
    </div>
    <div class="form-group form-inline">
      <label>Name<input class="form-control ml-2" type="text" [(ngModel)]="editTemplate.name"></label>
    </div>
    <div>Text ({{editTemplate.text != null ? editTemplate.text.length : 0}})</div>
    <div>
      <textarea class="form-control ml-2" [(ngModel)]="editTemplate.text"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal(true)">Save</button>
    <button type="button" class="btn btn-light" (click)="closeModal(false)">Close</button>
  </div>
<!--</ng-template>-->
